* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex; /*Para activar flexbox*/
    justify-content: space-around;
    align-items: center;
    background-color: rgb(240, 133, 12);
    flex-wrap: wrap;
}

nav img {
    width: 100px; /*Para bajar imagen*/

}

nav a{
    font-size: 19px; /*Tamaño del texto*/
    text-decoration: none; /*Quitar subrayado*/
    color:rgb(255, 221, 32); /*Color de los enlaces*/
    font-weight: 600; /*Grosor del texto*/
    transition: 0.8s; /*Tiempo de tarda que quitar el fondo*/
    padding: 10px; /*Espacio dentro del enlace*/
    border-radius: 12px; /*Bordes redondeados*/
}

nav a:hover { /*Estilo al pasar el mouse en los enlaces*/
    transition: 0.8s; /*Tiempo para poner el fondo*/
    background-color: rgb(235, 180, 110); /*Color de fondo*/
}

/*Section donde van todas las tarjetas*/
.categorias {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    gap: 20px; /*Espacio entre los elementos*/
    flex-wrap: wrap; /*Usar varias lineas*/
}

/*Imagen con texto de categoria*/
.categoria {
    display: flex;
    flex-direction: column; /*Contenido va hacia abajo*/
    align-items: center /*Alineacion horinzontal*/;
}

.categoria img {
    width: 300px;
    height: 180px;
    object-fit: cover; /*Llena el espacio con la imagen sin aplastarla*/
}

@media (width < 550px) {
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}